"========== Solarized Light =========="
if &t_Co == 256
  let g:solarized_termcolors=256
endif

set background=light
colorscheme solarized

"========== Keybindings ==========
imap jj <Esc>

"========== NERDtree ==========
map \           :NERDTreeToggle<CR>
map \|          :NERDTreeFind<CR>
" Small default width for NERDTree pane
let g:NERDTreeWinSize = 20
" Change working directory if you change root directories
let g:NERDTreeChDirMode=2

"========== Git (Fugitive) ==========
map <leader>g   :Gblame<CR>
" clean up unused fugitive buffers
autocmd BufReadPost fugitive://* set bufhidden=delete
autocmd BufReadPost .git/index set nolist

" surround.vim: Add $ as a jQuery surround, _ for Underscore.js
autocmd FileType javascript let b:surround_36 = "$(\r)"
                         \ | let b:surround_95 = "_(\r)""

" remap enter to open file in new tab
" while ctrl-t opens in same buffer
let g:ctrlp_prompt_mappings = {
 \ 'AcceptSelection("e")': ['<c-t>'],
 \ 'AcceptSelection("t")': ['<cr>', '<c-m>']
 \ }

" Supertab
let g:SuperTabDefaultCompletionType = "context"

" Syntastic
let g:syntastic_check_on_open=1
let g:syntastic_enable_signs=1
let g:syntastic_auto_loc_list=1
let g:syntastic_loc_list_height=5
let g:syntastic_echo_current_error=1

" ========== vim-auto-save ==========
let g:auto_save = 0

" Only enable auto saving if under version control
let s:in_git = system('git rev-parse --is-inside-work-tree')
if s:in_git =~ 'true'
  let g:auto_save = 1
endif

